@model System.Web.Mvc.HandleErrorInfo

@{
	Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="row main-content">

	<div class="offset3 span6 zone-content">
		<h1 class="notfound-title">404</h1>

		<p class="notfound-message">
			The resource was not found.
		</p>
	</div>
</div>

