@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}

<h3>Delete</h3>

<h3>Are you sure you want to delete this Role? </h3>
<p>Deleting this Role will remove all users from this role. It will not delete the users.</p>
<div>
    <h4>Role</h4>
    <hr />
    
	
	<strong>@Html.DisplayNameFor(model => model.Name)：</strong>
	@Html.DisplayFor(model => model.Name)
	
       
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
		    <button type="submit">Delete</button>
	}
	@Html.ActionLink("Back to List", "Index")
</div>
