
@{
    ViewBag.Title = Resources.ContactCompleted;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.ContactCompleted</h1>
	<p class="lead" style="text-align:center;">@Resources.ContactCompletedParagraph</p>


