@import url("/css/wisewords/magic-bootstrap.css");
@import url("/css/wisewords/bootstrap.css");
@import url("/css/wisewords/bootstrap-responsive.min.css");
@import url("/css/wisewords/socialicons.css");
@import url("/css/wisewords/glyphicons.css");
@import url("/css/wisewords/halflings.css");
@import url("/css/wisewords/template.css");
@import url("/css/wisewords/colors/color-classic.css");

h2, h3, h4, h5, h6 {
	/*font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, NSimSun, SimHei, PMingLiU, MingLiU, serif !important;*/
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif !important;
	font-weight: bold !important;
}

h4 {
	font-size: 20px !important;
}

label, select {
	cursor: default;
}

select {
	background-color: #f6f6ed;
	border: 1px solid #b2b8c1;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	height: 35px;
}

/*-- Navigation Elements --*/
.nav .dropdown-toggle .caret {
	border-top-color: #494e55 !important;
	border-bottom-color: #494e55 !important;
	margin-top: 6px;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
	border-top-color: #9b7188 !important;
	border-bottom-color: #9b7188 !important;
}

.navbar-nav > li > a {
	padding: 25px !important;
	/*padding: 0 !important;*/
}

.navbar-nav > li > a {
	line-height: 14px !important;
}

.ww-nav-admin {
	padding-top: 6px;
}

	.ww-nav-admin a {
		/*color:#494e55;*/
		font-family: 'Open Sans', sans-serif;
		font-size: .8em;
		font-weight: 300;
		line-height: 14px;
		margin-left: 0px;
		margin-right: 2px;
		padding-right: 0px;
		text-transform: uppercase;
		text-decoration: none;
	}

		.ww-nav-admin a:hover {
			/*color:#9b7188;*/
		}

	.ww-nav-admin > li {
		float: left;
		margin-left: 5px;
	}

		.ww-nav-admin > li > a {
			/*padding:25px;*/
			padding: 10px;
		}

		.ww-nav-admin > li.last a {
			padding-right: 0px;
		}

.navbar-nav-admin > li > a {
	padding: 10px !important;
	/*padding: 0 !important;*/
}
/*-- Navigation Elements End --*/

/*-- Form Elements --*/
.input-validation-error {
	border: 1px solid #b94a48 !important;
	background-color: #fee !important;
}

.validation-summary-errors, .field-validation-error {
	color: #b94a48;
}

.field-validation-error {
	display: inline-block;
	float: left;
}

/*.entry-form input[type=text] {
	width: 40%;
}*/

.collocation-form {
	
}
/*-- Form Elements End --*/

.main-content {
	margin-top: 1em !important;
	margin-bottom: 3em !important;
}

.wordTransHeading {
	font-family: "標楷體","Arial Unicode MS","Lucida Sans Unicode","宋體", "PMingLiU, MingLiU", "細明體", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

.colPatternHeadingText {
	font-weight: bold;
}

.colPatternHeadingText {
	font-size: 18px;
}

.word {
	/*border: 1px solid #f6f6ed;
	background-color: #494e55;
	color: #f6f6ed;*/
	color: #245185;
	font-weight: bold;
}

.colWord, .colWordTrans, .colWordIcon {
	/*border: 1px solid #494e55;
	background-color: #f6f6ed;
	color: #494e55;*/
	color: #9b7188;
}

.colWordIcon {
	font-style: italic;
	font-size: 1.2em;
}

.colWord {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
}

.colWordTrans {
	/*font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, NSimSun, SimHei, PMingLiU, MingLiU, serif;*/
	font-family: "標楷體","Arial Unicode MS","Lucida Sans Unicode","宋體", "PMingLiU, MingLiU", "細明體", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}

.colWordDiv {
	font-size: 0.8em;
}

.exampleDiv {
	font-size: .9em;
}

.exampleLabel {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif !important;
	font-size: 1.1em;
	font-weight: bold;
}

.exampleText {
	font-size: 1.1em;
}

.exampleTransText {
	font-family: "標楷體","Arial Unicode MS","Lucida Sans Unicode","宋體", "PMingLiU, MingLiU", "細明體", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

.exampleSourceText {
	font-size: 1.1em;
}

.indent-1em {
	text-indent: 1em;
}

.footer {
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.clearBoth {
	clear: both;
}

.clearLeft {
	clear: left;
}

.clearRight {
	clear: right;
}

ul#letters {
	list-style: none;
}

	ul#letters li {
		float: left;
		padding-right: .5em;
	}


/*-- margin list --*/
.marginTop05em {
	margin-top: .5em;
}

.marginTop1em {
	margin-top: 1em;
}

.marginTop2em {
	margin-top: 2em;
}

.marginTop3em {
	margin-top: 3em;
}

.marginBottom05em {
	margin-bottom: .5em;
}

.marginBottom1em {
	margin-bottom: 1em;
}
/*-- margin list end --*/


.alignLeft {
	text-align: left;
}

