<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="autoFormsAuthentication" value="false" />
	<add key="enableSimpleMembership" value="false"/>
	<add key="MinPasswordLength" value="6"/>
	<add key="MaxPasswordLength" value="20"/>
	<add key="CaptchaWidth" value="120"/>
	<add key="CaptchaHeight" value="20"/>
	<add key="CaptchaFont" value="Century Schoolbook"/>
	<add key="DateTimeFormat" value="yyyy MMM dd HH:mm:ss"/>
	<add key="DateTimeFormatString" value="{0:yyyy-MMM-dd HH:mm:ss}"/>

	<add key="GravatarSize" value="50"/>
	<add key="GravatarRating" value="G"/>
	<add key="GravatarDefaultImageBehavior" value="MysteryMan"/>
	<add key="GravatarDefaultImage" value="homer.png"/>
	<add key="GravatarUrl" value="http://www.gravatar.com/avatar/"/>

	<add key="AvatarWidth" value="50"/>
	<add key="AvatarHeight" value="50"/>
	<add key="AvatarDefaultImage" value="/images/Homer.gif"/>

	<add key="WcExampleSources" value="Web,Oxford,CH,Others"/>

	<add key="WebUrlRegEx" value="^(http|https|ftp)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(:[a-zA-Z0-9]*)?/?([a-zA-Z0-9\-\._\?\,\'/\\\+&amp;amp;%\$#\=~])*$"/>

	<add key="MailServer" value="mail.translationhall.com"/>
	<add key="MailPort" value="8889"/>
	<add key="EnableErrorLogEmail" value="False"/>
	<add key="ErrorMailSubject" value="WordCollocation Error Report"/>
	<add key="MailID" value="admin@translationhall.com"/>
	<add key="MailPassword" value="F3No200PakLongTsuen"/>
	<add key="ErrorLogEmail" value="a1771550@gmail.com"/>
	<add key="MailSenderName" value="WordCollocation Admin"/>
	<add key="MailSender" value="admin@translationhall.com"/>
	<add key="IsMailHtml" value="true"/>
	<add key="MailReceiver" value="a1771550@gmail.com"/>
	<!-- NeedCredentials and UseDefaultCredentials are mutually exclusive -->
	<add key="NeedCredentials" value="true"/>
	<add key="UseDefaultCredentials" value="false"/>

	<add key="SiteName" value="WordCollocation"/>
	<add key="SiteNameC" value="用詞搭配"/>
	<add key="SiteUrl" value="www.translationhall.com"/>
	<add key="MemberZoneC" value="會員專區"/>
	<add key="MemberZone" value="Member Zone"/>
	<add key="WordCollocationsC" value="用詞搭配"/>
	<add key="WordCollocations" value="Word Collocations"/>
	<add key="ContextualPhrasesC" value="語景片語"/>
	<add key="ContextualPhrases" value="Contextual Phrases"/>
	<add key="Comments" value="Comments"/>
	<add key="CommentsC" value="評論"/>
	<add key="ReplyComments" value="Reply Comments"/>
	<add key="ReplyCommentsC" value="回應"/>
	<add key="ContactFormMailTo" value="admin@wordcollocation.net"/>
	<add key="ContactMailSubject" value="Message from Contact Form"/>
	<add key="PollsArchiveIsPublic" value="true"/>
	<add key="PollsVotingLockByIP" value="false"/>
	<add key="NewslettersFromEmail" value="admin@wordcollocation.net"/>
	<add key="NewslettersFromName" value="用詞搭配"/>
	<add key="ForumThreadsPageSize" value="8"/>
	<add key="ForumHotThreadPosts" value="10"/>
	<add key="ForumBronzePosterPosts" value="10"/>
	<add key="ForumSilverPosterPosts" value="20"/>
	<add key="ForumGoldPosterPosts" value="50"/>
	
	<add key="HostRootPath" value="d:\HostingSpaces\hhdpqxyb\translationhall.com\wwwroot\" />
	<add key="LogsPath" value="d:\HostingSpaces\hhdpqxyb\translationhall.com\logs\" />
	<add key="KeyPath" value="d:\HostingSpaces\hhdpqxyb\translationhall.com\key\" />

	<add key="EnableOAuth" value="true"/>
	<add key="CountryXMLFile" value="~/THCountries.xml" />
	<add key="TaiwanCityXMLFile" value="~/TaiwanCities.xml" />
	<add key="ChinaCityXMLFile" value="~/ChinaCities.xml" />
	<add key="JapanCityXMLFile" value="~/JapanCities.xml"/>
	<add key="PrepositionXMLFile" value="~/Preposition.xml"/>
	<add key="IrregularVerbsXMLFile" value="~/irregular_verbs.xml"/>
	<add key="RegularVerbsXMLFile1" value="~/regular_verblist.xml"/>
	<add key="RegularVerbsXMLFile" value="~/regular_verbs.xml"/>
	<add key="DomainName" value="WordCollocation.net"/>
	<add key="WordIsPrepFlag" value="WordPrep"/>
	<add key="ColWordIsPrepFlag" value="ColWordPrep"/>
	<add key="CacheExpiration_Minutes" value="20"/>
	<!--<add key="DatabaseName" value="WordCollocation"/>
	<add key="CacheTableName" value="Collocations"/>-->
	<add key="SecurityKey" value="Kevin Lau a1771550 is smart!"/>
	<add key="KeyFileName" value="key.txt"/>
	<add key="OxfordDictUrl" value="http://elt.oup.com/catalogue/items/global/dictionaries/9780194325387?cc=global&amp;selLanguage=en"/>
	<add key="ChDictUrl" value="http://www.sanmin.com.tw/page-product.asp?pf_id=000167217&amp;ref=xuelele"/>
	<add key="AppConfigFileName_Remote" value="app_remote.config"/>
	<add key="WcColListPageSize" value="3"/>
	<add key="WcViewPageSize" value="10"/>
	<add key="DictionaryLinkZht" value="http://tw.dictionary.search.yahoo.com/search?p={0}&amp;fr2=dict"/>
	<add key="DictionaryLinkZhs" value="http://www.iciba.com/{0}"/>
	<add key="DictionaryLinkJap" value="http://jisho.org/words?jap=&amp;eng={0}&amp;dict=edict"/>
</appSettings>