<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!-- azure connectionstring: Server=tcp:hsknf762pe.database.windows.net,1433;Database=WordcollocationTest;User ID=a1771550@hsknf762pe;Password=a1b2c3d4@c6044253;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;-->
		<!-- Azure -->

		<!-- AspHostCentral -->
		<!--<add name="WordCollocationContext" providerName="System.Data.SqlClient" connectionString="Server=119.81.12.144,779;Database=a1771550_TranslationHall;User ID=a1771550_db;Password=111111;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->

		<!-- AspHost -->
		<add name="WordCollocationContext" providerName="System.Data.SqlClient" connectionString="Data Source=mssql08r2.sys11.hostasp.net;Initial Catalog=TranslationHall2013;User ID=a1771550;Password=F3No200PakLongTsuen"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />


		<!--<add name="ContextualPhrasesContext" providerName="System.Data.SqlClient" connectionString="Data Source=mssql08r2.sys11.hostasp.net;Initial Catalog=TranslationHall2013;User ID=a1771550;Password=F3No200PakLongTsuen"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="ForumContext" providerName="System.Data.SqlClient" connectionString="Data Source=mssql08r2.sys11.hostasp.net;Initial Catalog=TranslationHall2013;User ID=a1771550;Password=F3No200PakLongTsuen"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
	</connectionStrings>
	<!--<system.web>
		<caching>
			<sqlCacheDependency pollTime="10000" enabled="true" >
				<databases>
					<add connectionStringName="WordCollocationContext" name="TranslationHall2013" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
				</databases>
			</sqlCacheDependency>
		</caching>
	</system.web>-->
</configuration>
