<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-UI-20140508075002.mdf;Initial Catalog=aspnet-UI-20140508075002;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-UI-20140503070228.mdf;Initial Catalog=aspnet-UI-20140503070228;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!-- azure connectionstring: Server=tcp:hsknf762pe.database.windows.net,1433;Database=WordcollocationTest;User ID=a1771550@hsknf762pe;Password=a1b2c3d4@c6044253;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;-->
		<!-- Local -->
		<!--<add name="WordCollocationContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=WordCollocationTest;Integrated Security=True" />-->
		<!-- AspHost -->
		<add name="WordCollocationContext" providerName="System.Data.SqlClient" connectionString="Data Source=mssql08r2.sys11.hostasp.net;Initial Catalog=TranslationHall2013;User ID=a1771550;Password=F3No200PakLongTsuen" />
	</connectionStrings>
	<appSettings configSource="app.config" />
	<system.web>
		<customErrors mode="Off" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<machineKey decryption="AES" decryptionKey="5169E952C3B516B42A2611C8B88378970665A97D9F3F7A21" validation="SHA1" validationKey="98FA877DF9E628E7E9F9B6DDEC933BDEBD17A4414A6F13D54B04F33A9A63430D94915DC43F611AE881BBCF937072B8460BE1E014ACD42411ACBF501D2BDAF2EF" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthenticationModule" />
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>